* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

.navbar{
    display: flex;
   justify-content: space-between;
   height: 64px;
   width: auto;
   align-items: center;
}

.logo{
    display: flex;
    height: 32px;
    margin-left: 24px;
    align-items: center;
}

.logo p{
    color: #4a4a4a
}

.content{
    display: flex;
    gap: 16px;
    margin-right: 24px;
}

.intro{
    display: flex;
    background: #d8d8d8;
   
}

.intro-pic {
    display: block;
    width: 60%;
    flex: 1;
    margin: 32px 24px 32px 24px;
}

.intro-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 1.5rem;
    margin-right: 3rem;
}

.intro-content-header{
    font-size: 3.5rem;
    font-weight: bold;
    color:#4a4a4a;
}


.intro-content-detail1{
    font-size: 1.5rem;
    color:#4a4a4a;
    font-weight: bold;
}

.header-botton{
    padding: 8px;
    width: 20rem;
    background-color:#4a4a4a;
    color: white;
    font-size: 1.5rem;
    border: #4a4a4a;
    cursor: pointer;
}
