* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

.navbar{
    display: flex;
   justify-content: space-between;
   height: 64px;
   width: auto;
   align-items: center;
}

.logo{
    display: flex;
    height: 32px;
    margin-left: 24px;
    align-items: center;
}

.logo p{
    color: #4a4a4a
}

.content{
    display: flex;
    gap: 16px;
    margin-right: 24px;
    cursor: pointer;
}

.intro{
    display: flex;
    background: #d8d8d8;
   
}

.intro-pic {
    display: block;
    width: 60%;
    flex: 1.2;
    margin: 32px 24px 32px 24px;
}

.intro-content{
    display: flex;
    flex-direction: column;
    flex: 0.75;
    justify-content: center;
    gap: 1.5rem;
    margin: 3rem;
}

.intro-content-header{
    font-size: 3.5rem;
    font-weight: bold;
    color:#4a4a4a;
}


.intro-content-detail1{
    font-size: 1.5rem;
    color:#4a4a4a;
    font-weight: bold;
}

.header-botton{
    padding: 8px;
    width: 29rem;
    background-color:#4a4a4a;
    color: white;
    font-size: 1.5rem;
    border: #4a4a4a;
    cursor: pointer;
}

.detailbox1{
    display: flex;
    padding-bottom: 32px;
    background:#f3f5f5;
    color:#4a4a4a;
}


.detailbox1-content1{
    width: 60%;
    margin: 32px 24px 32px 24px;
    flex: 1.1;
}


.detailbox1-content1-header{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 24px;
}

.detailbox1-content1-detail{
    font-size: 1rem;
    margin-top: 32px;
    margin-bottom: 24px;
}

.detailbox1-content1-credit{
    font-size: 0.8rem;
    cursor: pointer;
}

.detailbox1-content2{
    flex: 0.8;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
    background: #f3f5f5
}

.detailbox1-content2-box1:hover,
.detailbox1-content2-box2:hover,
.detailbox1-content2-box3:hover{
    background: #d8d8d8;
}

.detailbox1-content2-box1,
.detailbox1-content2-box2,
.detailbox1-content2-box3{
    gap: 16px;
    padding: 16px;
    display: flex;
}

.detailbox1-content2-box1 img,
.detailbox1-content2-box2 img,
.detailbox1-content2-box3 img{
    width: 35%;
}

.detailbox1-content2-box1-info,
.detailbox1-content2-box2-info,
.detailbox1-content2-box3-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.detailbox1-content2-box-head{
    font-weight: bold;
    font-size: 1.3rem;
}

.detailbox1-content2-box-detail{
    font-size: 0.8rem;
}

.detailbox1-content2-box-link{
    font-size: 1rem;
    color: #4a90e2;
    cursor: pointer;
}

.learning{
    display: block;
    padding: 32px 72px 32px 72px;
    text-align: center;
    background: #eaebec;
    
}

.learning-head{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 32px;
    color:#4a4a4a;
}


.learning-card{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.learning-card img{
    height: 12rem;
}

.learn-card1,
.learn-card2,
.learn-card3,
.learn-card4,
.learn-card5,
.learn-card6{
    margin: 16px;
    background-color: white;
}



.card-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: start;
    margin: 16px;
    
}

.card-head{
    font-weight: bold;
    font-size: 1.3rem;
    color:#4a4a4a;
}

.card-type,.card-information{
    font-size: 0.8rem;
    color: #4a4a4a;
    overflow-wrap: break-word;
}

.thesis{
   
    background: #f3f5f5;
    text-align: center;
    padding: 32px 24px 32px 24px;
    color:#4a4a4a;
}

.thesis-flex{
display: flex;
}

.thesis-header{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 32px;
    color:#4a4a4a;
}

.thesis-player{
    flex: 1.2;
    width: 60%;
    padding-right: 24px;
}

.thsis-player-info{
    padding-top: 24px;
 
    text-align: start;
}




.thsis-player-info-header,.thesis-content-header{
    font-weight: bold;
    font-size: 1.2rem;
    color:#4a4a4a;
    margin-top: 8px;
}

.thsis-player-info-detail,.thesis-content-detail{
    font-size: 16px;
    color: #4a4a4a;
    overflow-wrap: break-word;
    margin-top: 8px;
}

.thesis-content{
    flex: 0.8;
}

.thesis-content1,
.thesis-content2{
    display: flex;
    padding: 16px;
}

.thesis-content1:hover,
.thesis-content2:hover{
    background:#d8d8d8;
}

.thesis-content1 img,
.thesis-content2 img{
    width: 30%;
}

.thesis-content-info{
    text-align: start;
    padding: 16px;
}

.footerbar{
    font-size: 0.8rem;
    background: #f3f5f5;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid #ccc;
}

.document{
    cursor: pointer;
    display: flex;
    
}

.document div{
    margin-left: 8px;
}





